<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title></title>

<link rel="manifest" href="manifest.json">

<!-- un-comment this code to enable service worker
<script>
if ('serviceWorker' in navigator) {
navigator.serviceWorker.register('service-worker.js')
.then(() => console.log('service worker installed'))
.catch(err => console.log('Error', err));
}
</script>-->

<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
</head>
<body ng-app="starter">

<ion-pane>
<ion-header-bar class="bar-stable">
<h1 class="title">SUMA DE DOS NUEROS</h1>
</ion-header-bar>
<ion-content ng-controller="myCtrl">
<div class="list">
<label class="item item-input">
<span class="input-label">Valor uno</span>
<input type="number" placeholder="teclea aqui el primer valor" ng-model="valor1">
</label>
<label class="item item-input">
<span class="input-label">Valor dos</span>
<input type="number" placeholder="y aqui el segundo valor a sumar" ng-model="valor2">
</label>
</div>
<button class="button button-dark" ng-click="Sumar()">
Sumar
</button>
<h2>{{resultado}}</h2>

</ion-content>
</ion-pane>
</body>
</html>